*.lock

/target
*/target/*

getset/
.pipeline
*.swp

*.so
*/*.so

example.py
example/__*

env/

*.egg-info/
*.pyc
.vscode/*
/constrainables.txt
/constraints.txt
docs/*nodes.txt
docs/*edges.txt
.DS_Store
